<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ep</servlet-name>
        <servlet-class>ep</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendcatdata</servlet-name>
        <servlet-class>sendcatdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchquestions</servlet-name>
        <servlet-class>fetchquestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getcategory</servlet-name>
        <servlet-class>getcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addquestion</servlet-name>
        <servlet-class>addquestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchquestiondetails</servlet-name>
        <servlet-class>fetchquestiondetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returnanswers</servlet-name>
        <servlet-class>returnanswers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>likeshandler</servlet-name>
        <servlet-class>likeshandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postanshandler</servlet-name>
        <servlet-class>postanshandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendnot</servlet-name>
        <servlet-class>sendnot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clear</servlet-name>
        <servlet-class>clear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchallquestionresponse</servlet-name>
        <servlet-class>fetchallquestionresponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ep</servlet-name>
        <url-pattern>/ep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendcatdata</servlet-name>
        <url-pattern>/sendcatdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchquestions</servlet-name>
        <url-pattern>/fetchquestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getcategory</servlet-name>
        <url-pattern>/getcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addquestion</servlet-name>
        <url-pattern>/addquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchquestiondetails</servlet-name>
        <url-pattern>/fetchquestiondetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>returnanswers</servlet-name>
        <url-pattern>/returnanswers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>likeshandler</servlet-name>
        <url-pattern>/likeshandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postanshandler</servlet-name>
        <url-pattern>/postanshandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendnot</servlet-name>
        <url-pattern>/sendnot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clear</servlet-name>
        <url-pattern>/clear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchallquestionresponse</servlet-name>
        <url-pattern>/fetchallquestionresponse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
